extends layout

block content
  h1 Utilisateur créer 
  hr.divider

  .row
    .col-xs-12.col-md-12
      h4 L'utilisateur à été créer avec succès.

block menuactive 
  - var menu = 0

block titre 
  title Utilisateur créer 